/*Översiktlig layout*/
#container {max-width: 960px; 
            margin-left: auto;
            margin-right: auto;
            overflow: auto;}
            
#header {/*margin: 5px;*/
        padding:10px;
        height: 210px;
        text-align: center;
        background:url(../header.png) no-repeat;}
        
#header img {margin: 1px;
            float: right;
            max-width: 100%;
            }
            
#content {max-width:960px;
        margin-bottom: 30px;
        overflow:auto;
        border-top: solid 3px;}
        
#footer {margin-left: auto;
        margin-right: auto;
        max-width: 960px;}
        
#footer p {font-size: 80%;
            float: left;}
        
#about {background:url(../photos/Illustrationer/index.png) no-repeat;
        width: 186px; 
        height: 480px;
        float: right;}
        
#form {
    font-family:"Garamond", "Georgia", sans-serif; 
    width:400px;}

#formbackgroundimage {
   background:url(../photos/Illustrationer/SCAN0006.jpg) no-repeat;
        width: 500px; 
        height: 500px;
        float: right;
        }
        
#thanks {
    font-family:"Garamond", "Georgia", sans-serif; 
    width:400px;
}        
#thanksimage {
    background:url(../photos/Illustrationer/SCAN0004.jpg) no-repeat;
    width: 500px; 
    height: 500px;
    float: right;
        }


#imageslider {width:600px;
            height: 500px;}
            


/*Illustrationer*/

#photos {
   line-height: 0;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   2px;
   -moz-column-count:    5;
   -moz-column-gap:      2px;
   column-count:         5;
   column-gap:           2px;
   
}
#photos img {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 9600px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 760px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 560px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 360px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
        
/*Rubriker och listor*/
h1 {
    font-family:"FuturaCondensedMediumMedium", "Times New Roman", sans-serif;
    font-size: 225%;
    color:#ff9933;
}

h2 {font-family: "Georgia", "Times New Roman", sans-serif; 
    font-size: 200%;
    color: #000;}
    
h3 {font-family: "Georgia", sans-serif;
    font-size: 175%;}
    
p {font-family: "Garamond", sans-serif;
    font-size: 150%;}

ul {font-family: "Garamond", sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;}
  
/*Meny, Navigation*/  

#menu {
 margin:10px;
 padding:0px;
 text-transform:uppercase; /*Gör bokstäver stora*/
 font-family: "FuturaCondensedMediumMedium", sans-serif;
 font-weight: bold;
 font-size: 150%;
 }

#menu ul {
 margin:0px;
 padding:0px;
 text-align:center;
 }

#menu li {
 display: inline;
 list-style-type: none;
 padding:10px;
 margin:10px;
 }

#menu a{
 color:#000;
 text-decoration: none;
 }

#menu a:hover{
 color:#888888;}
 
#menu .active a {
 color:#FF9933;}

    
            
/*Färger länkar*/

a:link {color: #000;}
        
a:visited {color: #FF9933;
            font-weight: bold;}
            
a:focus {color: #FF9933;}

a:hover {color: #888888;}

/*Utskriftsinställningar*/

@media print {
          
h1, h2, h3 { 
    font-family:Georgia, Times, serif;
    font-size: 12pt;
    color:#000;}
p   {
    font-family:Georgia, Times, serif;
    font-size: 10pt;
    color:#000;}
    
ul, ol, dl { 
    font-family:Georgia, Times, serif; 
    font-size: 10pt;
    color:#000;}
    
#menu {display:none;
            }
            
#container {float:none;
            }
            
#body { 
    font-family: Georgia, Times, serif; 
    font-size: 10pt;
    color:#000;
        }
        
#photos {
    display:inline;
} 
#formbackgroundimage{
    width:100px;
    height:100px;
}
#content {  
    font-family: Georgia, Times, serif;
    font-size: 10pt;
    border:0;
    width:650px;
    color:#000;}
            
#content a:after {
    content: " (" attr(href) ")";
}
            
#header img {
    margin:0;
    padding:0;
    width:400px;
    height:200px;}
        
            
} 
