#container {max-width: 960px; 
            margin-left: auto;
            margin-right: auto;
            overflow: auto;}
            
#header {/*margin: 5px;*/
        padding:10px;
        height: 210px;
        text-align: center;
        background:url(../header.png) no-repeat;}
        
#header img {margin: 1px;
            float: right;
            max-width: 100%;
            }
            
#content {max-width:960px;
        margin-bottom: 30px;
        overflow:auto;
        border-top: solid 3px;}
        
#footer {margin-left: auto;
        margin-right: auto;
        max-width: 960px;
        font-size: 0.8em;}
        
#about {background:url(../photos/terese.jpg) no-repeat;
        width: 375px; 
        height: 500px;
        float: right;}
#form {
font-family:"Lucida handwriting", "Georgia", sans-serif;    
}

.imageslider {float:left;
            width:500px;
            height:335px;
            margin-top: 15px;
}


/*LIGHTBOX*/

/* line 6, ../sass/lightbox.sass */
#lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  display: none;
}

/* line 15, ../sass/lightbox.sass */
#lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-weight: normal;
}
/* line 24, ../sass/lightbox.sass */
#lightbox img {
  width: auto;
  height: auto;
}
/* line 27, ../sass/lightbox.sass */
#lightbox a img {
  border: none;
}

/* line 30, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, ../sass/lightbox.sass */
.lb-container {
  padding: 10px;
}

/* line 42, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 51, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 59, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 62, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 65, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  /* Trick IE into showing hover */
  display: block;
}

/* line 72, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}

/* line 76, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}

/* line 81, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}

/* line 85, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

/* line 88, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 95, ../sass/lightbox.sass */
.lb-data {
  padding: 0 10px;
  color: #bbbbbb;
}
/* line 98, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 103, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 107, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 11px;
}
/* line 112, ../sass/lightbox.sass */
.lb-data .lb-close {
  width: 35px;
  float: right;
  padding-bottom: 0.7em;
  outline: none;
}
/* line 117, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
}
        
/*Rubriker och listor*/

h1 {font-family: "Bodoni MT", "Chaparral Pro Light", sans-serif;
    font-size: 600%;}
    
h2 {font-family: "Georgia", "Arial light", sans-serif; 
    font-size: 1,8em;
    background-color: #C2C2FF;
    color: #000000;}
    
h3 {font-family: "Georgia", sans-serif;
    font-size: 1.2em;}
    
p {font-family: "Garamond", sans-serif;
    font-size: 150%;}

ul {font-family: "Garamond", sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;}

dl {font-family: "Garamond", sans-serif;
    font-size: 1em;}

/*Tabell laborationssidan*/

th {font-family: "Garamond", sans-serif;
    font-size: 1em;
    font-style: oblique;}

td {font-family: "Garamond", sans-serif;
    font-size: 1em;}   
    
table {border-color: #C2C2FF;
        background-color: #EBEBFF;
        width: 450px;}

.hide {display: none;}
  
/*Meny, Navigation*/  

#menu {
 margin:10px;
 padding:0px;
 text-transform:uppercase; /*Gör bokstäver stora*/
 font-family: "FuturaCondensedMediumMedium", sans-serif;
 font-style: bold;
 font-size: 150%;
 }

#menu ul {
 
 margin:0px;
 padding:0px;
 text-align:center;
 }

#menu li {
 display: inline;
 list-style-type: none;
 padding:10px;
 margin:10px;
 }

#menu a{
 color:#000000;
 text-decoration: none;
 }

#menu a:hover{
 color:#888888;}
    
            
/*Färger länkar*/

a:link {color: #00000;
        font-style: bold;}
        
a:visited {color: #888888;
            font-style: bold;}
            
a:focus {color: #FF3333;}

a:hover {color: #888888;}
        
a:active {color: #FF3333;}
